
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

@model Product

<form asp-action="Update" asp-controller="Product" method="post">
    <div class="form-row">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="form-group col-md-6">
            <label>Ürün Adı</label>
            <input type="text" class="form-control" asp-for="@Model.Name">
        </div>

        <div class="form-group col-md-6">
            <label>Ürün Fiyatı</label>
            <input type="text" class="form-control" asp-for="@Model.Price">
        </div>


        <div class="form-group col-md-6">
            <label>Ürün Stoğu</label>
            <input type="text" class="form-control" asp-for="@Model.Stock">
        </div>

        <div class="form-group col-md-6">
            <label>Kategori</label>
            <input type="text" class="form-control" asp-for="@Model.CategoryId">
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
